body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #C1C1FF;
	margin: 16px;
}
h1
{
	margin-bottom: 4px;
}
.myTextInput
{
	background-color: #efeffe;
	font-family: Consolas, Menlo, Monaco, Lucida Console, monospace, serif;
	border: 2px solid #48485f;
	height: 200px;
	width: 100%;
    margin-bottom: 2px;
}
.myButton
{
	background-color: #c4f1fe;
	border-top: 2px solid #a3ceda;
	border-left: 2px solid #a3ceda;
	border-right: 2px solid #4f6267;
	border-bottom: 2px solid #4f6267;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	color: #2d525d;
	width: 100%;
	margin-bottom: 2px;
}
